body{
    background-color: rgb(156, 92, 199);
    color: black;
}
span{
    color: rgb(250, 230, 53);
}

.contagem{
    background-color: aquamarine;
    padding: 20px 0;
    text-align: center;
}